.glass-panel {
  width: 100%;
}

.glass-panel__inner {
  width: 100%;
  min-height: 1px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.no-padding {
  padding: 0 !important;
}

@media (max-width: 768px) {
  .glass-panel__inner {
    padding: 18px;
  }
}
